# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
db.sqlite3
/static/
staticfiles/
media/

# Environment variables
.env

# Docker
.dockerignore
*.log
*.pid
*.swp

# IDE files (optional)
.vscode/
.idea/
*.iml
